<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Task list</title>
    <link rel="stylesheet" type="text/css" href="resources/styles/tasks.css" media="screen"/>
    <script src="resources/scripts/jquery-2.0.3.js"></script>
    <script src="resources/scripts/jquery-tmpl.js"></script>
    <script src="resources/scripts/jquery.validate.js"></script>
    <script src="resources/scripts/jquery-serialization.js"></script>
    <script src="resources/scripts/storage-types.js"></script>
    <script src="resources/scripts/tasks-controller.js"></script>
    <script src="resources/scripts/date.js"></script>
</head>
<body>
<header>
    <h3 id="h1d "></h3>
    <h3 id="h2d"></h3>
    <h3 id="h3d"></h3>
    <span>Task list</span>
</header>
<main id="taskPage">
    <section id="taskCreation" class="not">
        <div id="selectUserTable">
            <table id="userTable">
                <colgroup>
                    <col width="40">
                    <col width="40%">
                    <col width="20%">

                </colgroup>
                <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Address</th>

                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

        <form id="taskForm">
            <input type="hidden" name="id" value="-1"/>
            <div>
                <label>Task</label> <input type="text" required="required"
                                           name="name" class="large" placeholder="Breakfast at Tiffanys"
                                           maxlength="200"/>
            </div>
            <div>
                <label>Priority</label>
                <select name="priority">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                </select>
            </div>

            <div>
                <label>Required by</label> <input type="date" required="required"
                                                  name="dueDate"/>
            </div>

            <div>
                <label>Category</label>
                <select name="category">
                    <option value="Personal">Personal</option>
                    <option value="Work">Work</option>
                </select>
            </div>

            <!--TODO For now, but remember to delete-->
            <div>
                <label>UserId <em>(dummy users)</em></label>
                <select name="userId">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </div>

            <nav>
                <a href="#" id="saveTask">Save task</a>
                <!-- https://stackoverflow.com/questions/4855168/what-is-href-and-why-is-it-used -->
                <a href="#" id="clearTask">Clear task</a>
            </nav>

        </form>

    </section>

    <div class="teamWrapper not">
        <div id="addTeam">
            <a href="#" id="teamClose" class="close">x</a>
            <h2>Add new team</h2>
            <hr>
            <form id="teamForm">
                <div>
                    <label for="teamName">Team Name:</label>
                    <input type="text" id="teamName" name="teamName" placeholder="Name" required="required"
                           maxlength="50">
                </div>
                <nav>
                    <a href="#" id="saveTeam">Save</a>
                </nav>
            </form>
        </div>
    </div>
    <div class="userWrapper not">
        <div id="addUser">
            <a href="#" id="userClose" class="close">x</a>
            <h2>Add new user</h2>
            <hr>
            <form id="userForm">
                <div>
                    <label for="firstName">First Name:</label>
                    <input type="text" id="firstName" name="firstName" placeholder=" FirstName" required="required"
                           maxlength="50">
                    <label for="firstName">Last Name:</label>
                    <input type="text" id="lastName" name="lastName" placeholder="Last Name" required="required"
                           maxlength="50">
                    <label for="firstName">Address:</label>
                    <input type="text" id="address" name="address" placeholder="Address" required="required"
                           maxlength="50">
                </div>
                <nav>
                    <a href="#" id="saveUser">Save</a>
                </nav>
            </form>
        </div>
    </div>

    <section>
        <div>
            <h1 id="sort">Sort </h1>
            <input type="submit" value="SortById" id="sortID">
            <input type="Submit" value="SortByPriority" id="sortpriority">
        </div>
        <table id="tblTasks">
            <colgroup>
                <col width="5%">
                <col width="10%">
                <col width="5%">
                <col width="10%">
                <col width="10%">
                <col width="10%">
                <col width="50%">
            </colgroup>
            <thead>
            <tr>
                <th>User ID</th>
                <th>Task</th>
                <th>Priority</th>
                <th>Due</th>
                <th>Category</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <nav>
            <a href="#" id="btnAddTask">Add task</a>
            <a href="#" id="btnRetrieveTasks">Retrieve tasks from server</a>
            <a href="#" id="addUserButton">Add User</a>
            <!-- https://stackoverflow.com/questions/4855168/what-is-href-and-why-is-it-used -->
            <a href="#" id="addTeamButton">Add Team</a>

        </nav>
    </section>
</main>
<footer>You have <span id="taskCount"></span> tasks</footer>
</body>
<script>
	console.log("using remote storage");
	$.getScript("resources/scripts/tasks-remotedb.js")
		.done(function (script, textStatus) {
			$(document).ready(function () {
				tasksController.init($('#taskPage'), function () {
					console.log("Empty callback after initialization");
				});
			});
		})
		.fail(function (jqxhr, settings, exception) {
			console.log('Failed to load remote db script');
		});

</script>

<script id="taskRow" type="text/x-jQuery-tmpl">
<tr>
    <td {{if complete == true}}class="taskCompleted"{{/if}}>${userId}</td>
    <td {{if complete == true}}class="taskCompleted"{{/if}}>${name}</td>
    <td>{{if complete == true}}class="taskCompleted"{{/if}}${priority}</td>
    <td {{if complete == true}}class="taskCompleted"{{/if}}><time datetime="${dueDate}">${dueDate}</time></td>
    <td {{if complete == true}}class="taskCompleted"{{/if}}>${category}</td>
    <td>
        <nav>
            {{if complete != true}}
            <a href="#" class="editRow" data-task-id="${id}">Edit</a>
            <a href="#" class="completeRow" data-task-id="${id}">Complete</a>
            {{/if}}
            <a href="#" class="deleteRow" data-task-id="${id}">Delete</a>
        </nav>
    </td>
</tr>



</script>
</html>